<img src="http://ccrissman.s3.amazonaws.com/images/h/buzz-feed.png" alt="Buzz.com sample" />
<p class="pagination">
  <a href="../yp/sample-2.html">Previous</a>
  <a href="../buzz/sample-2.html">Next</a>
</p>
