$(document).ready(function(){

  $('.show-nav').click(function() {
    $(this).parent().toggleClass('show');
    return false;
  })

  $.localScroll({hash:'true'});

  // iOS scale bug fix
  MBP.scaleFix();

  // hide iOS URL bar
  MBP.hideUrlBar();

  // Respond.js
  yepnope({
  	test : Modernizr.mq('(only all)'),
  	nope : ["<%= asset_path('libs/respond.min.js') %>"]
  });

  function isValidEmailAddress(emailAddress) {
    var pattern = new RegExp(/^^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/i);
    return pattern.test(emailAddress);
};


  // Ajax contact form
  var messageDelay = 2000;
  var $formContainer = $('.contact-form')
  var $form = $('form');
  var incompleteMessage = '<div id="incompleteMessage" class="statusMessage inlineMessage"><p>Please complete all the fields in the form before sending.</p></div>';
  var failureMessage = '<div id="failureMessage" class="statusMessage inlineMessage"><p>There was a problem sending your message.</p><p>Please try again.</p></div>';
  var sendingMessage = "<div id='sendingMessage' class='statusMessage'><p>Sending your message&hellip;</p></div>";
  var successMessage = "<div id='successMessage' class='statusMessage'><p>Thanks for sending your message!</p><p>I&rsquo;ll get back to you shortly.</p></div>";


  var formSubmit = function () {
    if ( !$('#message_name').val() || !$('#message_email').val() || !$('#message_content').val() || !isValidEmailAddress($('#message_content').val()) ) {
      $formContainer.prepend(incompleteMessage).find('#incompleteMessage').fadeIn();
      return false;
    } else {
      $('.statusMessage').remove();
      $form.hide();
      $formContainer.append(sendingMessage).find('#sendingMessage').fadeIn();
    }
  };

  var formFailure = function () {
    $('.statusMessage').remove();
    $formContainer.prepend(failureMessage).find('#failureMessage').fadeIn();
    $form.fadeIn();
  };

  var formSuccess = function () {
    $('.statusMessage').remove();
    $('#message_name').val( "" );
    $('#message_email').val( "" );
    $('#message_message').val( "" );
    $formContainer.append(successMessage).find('#successMessage').fadeIn().delay(messageDelay).fadeOut();
    $form.delay(messageDelay+500).fadeIn();
  };

  $form.bind('ajax:before', formSubmit
  ).bind('ajax:failure', formFailure
  ).bind('ajax:success', formSuccess
  );

});
