<div id="home" class="page clearfix">
  <div class="content">
    <nav role="navigation" class="clearfix">
      <span class="avatar"><img src="http://ccrissman.s3.amazonaws.com/images/h/profile.jpg" /></span>

      <ul class="nav-list">
        <li><a href="#work">Work</a></li>
        <li><a href="#resume">Experience</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>

      <a href="#" class="show-nav"><span class="nav-arrow">more</span></a>
    </nav>

    <header role="banner" class="clearfix">
      <h1 class="logo"><span>My name is</span> Chad Crissman</h1>
      <p class="statement">I&rsquo;m a front-end web developer living in the greater Los Angeles area. I believe sites should look as good on the inside as they do on the outside. Take a look at my work and if you want to talk, please <a href="#contact">get in touch.</a></p>
    </header>

  </div>
</div> <!-- end home -->
