<div id="work" class="page">
  <section class="content">
    <header class="section-heading">
      <h1>Work</h1>
    </header>

    <ol class="photo-list clearfix">
      <li>
        <span class="client">DueProps</span>
        <p class="caption">
          <strong>Services Provided: </strong>
          HTML/CSS/JS
        </p>
        <a href="/dueprops/sample-1.html" class="img"><img src="http://ccrissman.s3.amazonaws.com/images/m/dueprops-signin.jpg" alt="DueProps screenshot" /></a>
        <a href="/dueprops/sample-2.html" class="img"><img src="http://ccrissman.s3.amazonaws.com/images/m/dueprops-profile.jpg" alt="DueProps screenshot" /></a>
      </li>
      <li>
        <span class="client">Yellowpages</span>
        <p class="caption">
          <strong>Services Provided: </strong>
          Design, HTML/CSS/JS
        </p>
        <a href="/yp/sample-1.html" class="img"><img src="http://ccrissman.s3.amazonaws.com/images/m/yp-litehp.png" alt="Yellowpages screenshot" /></a>
        <a href="/yp/sample-2.html" class="img"><img src="http://ccrissman.s3.amazonaws.com/images/m/yp-hp.jpg" alt="Yellowpages screenshot" /></a>
      </li>
      <li>
        <span class="client">Buzz.com</span>
        <p class="caption">
          <strong>Services Provided: </strong>
          HTML/CSS/JS
        </p>
        <a href="/buzz/sample-1.html" class="img"><img src="http://ccrissman.s3.amazonaws.com/images/m/buzz-feed.jpg" alt="Buzz screenshot" /></a>
        <a href="/buzz/sample-2.html" class="img"><img src="http://ccrissman.s3.amazonaws.com/images/m/buzz-srp.jpg" alt="Buzz screenshot" /></a>
      </li>
      <li>
        <span class="client">RollCallMe</span>
        <p class="caption">
          <strong>Services Provided: </strong>
          HTML/CSS/JS
        </p>
        <a href="/rollcallme/sample-1.html" class="img"><img src="http://ccrissman.s3.amazonaws.com/images/m/rollcallme.jpg" alt="RollCallMe screenshot" /></a>
      </li>
    </ol>
  </section>

</div>  <!-- end work -->