<div id="home" class="page clearfix">
  <div class="content">
    <nav role="navigation" class="clearfix">
      <span class="avatar"><img src="http://ccrissman.s3.amazonaws.com/images/h/profile.jpg" /></span>

      <ul class="nav-list">
        <li><a href="#work">Work</a></li>
        <li><a href="#resume">Experience</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>

      <a href="#" class="show-nav"><span class="nav-arrow">more</span></a>
    </nav>

    <header role="banner" class="clearfix">
      <h1 class="logo"><span>My name is</span> Chad Crissman</h1>
      <p class="statement">I&rsquo;m a front-end web developer living in the greater Los Angeles area. I believe sites should look as good on the inside as they do on the outside. Take a look at my work and if you want to talk, please <a href="#contact">get in touch.</a></p>
    </header>

  </div>
</div> <!-- end home -->


<div id="work" class="page">
  <section class="content">
    <header class="section-heading">
      <h1>Work</h1>
    </header>

    <ol class="photo-list clearfix">
      <li>
        <span class="client">DueProps</span>
        <p class="caption">
          <strong>Services Provided: </strong>
          HTML/CSS/JS
        </p>
        <a href="dueprops/sample-1.html" class="img"><img src="http://ccrissman.s3.amazonaws.com/images/m/dueprops-signin.jpg" alt="DueProps screenshot" /></a>
        <a href="dueprops/sample-2.html" class="img"><img src="http://ccrissman.s3.amazonaws.com/images/m/dueprops-profile.jpg" alt="DueProps screenshot" /></a>
      </li>
      <li>
        <span class="client">Yellowpages</span>
        <p class="caption">
          <strong>Services Provided: </strong>
          Design, HTML/CSS/JS
        </p>
        <a href="yp/sample-1.html" class="img"><img src="http://ccrissman.s3.amazonaws.com/images/m/yp-litehp.png" alt="Yellowpages screenshot" /></a>
        <a href="yp/sample-2.html" class="img"><img src="http://ccrissman.s3.amazonaws.com/images/m/yp-ypcrowd.png" alt="Yellowpages screenshot" /></a>
      </li>
      <li>
        <span class="client">Buzz.com</span>
        <p class="caption">
          <strong>Services Provided: </strong>
          HTML/CSS/JS
        </p>
        <a href="buzz/sample-1.html" class="img"><img src="http://ccrissman.s3.amazonaws.com/images/m/buzz-feed.jpg" alt="Buzz screenshot" /></a>
        <a href="buzz/sample-2.html" class="img"><img src="http://ccrissman.s3.amazonaws.com/images/m/buzz-srp.jpg" alt="Buzz screenshot" /></a>
      </li>
      <li>
        <span class="client">RollCallMe</span>
        <p class="caption">
          <strong>Services Provided: </strong>
          HTML/CSS/JS
        </p>
        <a href="rollcallme/sample-1.html" class="img"><img src="http://ccrissman.s3.amazonaws.com/images/m/rollcallme.jpg" alt="RollCallMe screenshot" /></a>
      </li>
    </ol>
  </section>

</div>  <!-- end work -->


<section id="resume" class="page">
  <div class="content clearfix">

    <header class="section-heading">
      <h1>Experience</h1>
    </header>

    <section class="experience">
      <ol>
        <li>
          <hgroup>
            <h3 class="sub-heading">AT<span class="amp">&amp;</span>T Interactive</h3>
            <h4>Front-End Ruby on Rails Developer</h4>
          </hgroup>

          <p class="dates">January 2009&ndash;Present</p>

          <p class="description">I have mainly worked on the <a href="http://www.yp.com">YP.com</a> site, converting comps from Photoshop into HTML and CSS. I was the lead front-end developer on the menu popups, error pages, and a new header that we are testing. I also had significant input into the design and implementation of a new user-focused home page and the recommendation widget on the restaurant search results page. My favorite project was a responsive search results page I created for a company hackathon.</p>
          <p class="description">I was part of three iterations of <a href="http://www.buzz.com">buzz.com</a>. We converted comps into code and offered as much input as we could. We used lean HTML5 and CSS3 to create a light and fast site along with media queries to adjust the design for smaller screens.</p>
          <p class="description">Other duties include a redesign of <a href="http://www.anywho.com">anywho.com</a>, support of <a href="http://www.atti.com">atti.com</a>, and design/front-end work on various internal apps.</p>
        </li>

        <li>
          <hgroup>
            <h3 class="sub-heading">DueProps</h3>
            <h4>Front-End Ruby on Rails Developer</h4>
          </hgroup>

          <p class="dates">January 2011&ndash;Present</p>

          <p class="description">Working with a small, agile team, I&rsquo;ve been the lead front-end developer from the beginning of <a href="http://www.dueprops.com">dueprops.com</a>. My duties have been a mix of converting comps into code and giving design input. This site uses a lot of CSS3 to create a great-looking site that performs well. One of my favorite accomplishments is the parallax on the <a href="http://dueprops.com/users/sign_in">sign-in page</a>. Click on the angel for a surprise.</p>
        </li>

        <li>
          <hgroup>
            <h3 class="sub-heading">Myself</h3>
            <h4>Front-End Developer and Designer</h4>
          </hgroup>

          <p class="description">Most recently I implemented the design for <a href="http://www.rollcallme.com">RollCallMe</a>. This project was completed in less than one week and utilized parts of the <a href="twitter.github.com/bootstrap/">Twitter Bootstrap</a>.</p>
        </li>

      </ol>
    </section> <!-- end experience -->

    <section class="skills">
      <h2 class="sub-heading">Skills</h2>
      <dl "skills-list">
        <dt>HTML <span class="amp">&amp;</span> CSS</dt>
        <dd>My specialty. I love writing organized HTML and lean CSS, including HTML5 and CSS3.</dd>

        <dt>Javascript <span class="amp">&amp;</span> jQuery</dt>
        <dd>An evolving skill and one that I&rsquo;m using in most projects these days.</dd>

        <dt>Ruby on Rails</dt>
        <dd>I&rsquo;m not a back-end developer but know enough to get around.</dd>

        <dt>Git <span class="amp">&amp;</span> Subversion</dt>
        <dd>Version control is part of my daily workflow. I&rsquo;m more competent in Git but have used Subversion.</dd>

        <dt>Web Standards</dt>
        <dd>Following web standards allows me to write clean and maintainable code that will work across multiple browsers.</dd>

        <dt>Semantic Markup</dt>
        <dd>Use the right markup for the content. This makes the content more accessible and the code easier to read.</dd>

        <dt>Photoshop</dt>
        <dd>My main tool for creating/slicing up comps and optimizing images.</dd>
      </dl>
    </section> <!-- end skills  -->

  </div> <!-- end content -->
</section>  <!-- end resume -->


<section id="contact" class="page">
  <div class="content clearfix">

    <header class="section-heading">
      <h1>Get in touch</h1>
    </header>

    <section class="contact-form">
      <form name="contact" action="processForm.php" method="post">
        <fieldset>

          <label for="name">First and Last Name</label>
          <input type="text" name="name" id="name" required />

          <label for="email">Email Address</label>
          <input type="email" name="email" id="email" autocorrect="off" autocapitalize="off" required />

          <label for="message">Your message</label>
          <textarea name="message" id="message" required></textarea>

          <input type="submit" name="submit" class="button" id="submit" value="Send me a message" />

        </fieldset>
      </form>

      <div id="successMessage" class="statusMessage"><p>Thanks for sending your message!</p><p>I&rsquo;ll get back to you shortly.</p></div>
      <div id="failureMessage" class="statusMessage"><p>There was a problem sending your message.</p><p>Please try again.</p></div>
      <div id="incompleteMessage" class="statusMessage"><p>Please complete all the fields in the form before sending.</p></div>
    </section> <!-- end contact form -->

    <section class="follow">
      <p class="contact-info">
        <a href="tel:8054587182" class="phone">805.458.7182</a>
        <a href="mailto:cdcrissman@gmail.com" class="email">cdcrissman@gmail.com</a>
        <a href="http://www.github.com/crissmancd" class="github">Github</a>
      </p>
      <ul class="line">
        <li class="unit size1of4"><a href="http://www.twitter.com/crissmancd" class="twitter" title="Twitter"><img src="http://ccrissman.s3.amazonaws.com/images/h/twitter-icon.png" alt="Twitter" /></a></li>
        <li class="unit size1of4"><a href="http://www.linkedin.com/in/ccrissman" class="linked-in" title="LinkedIn"><img src="http://ccrissman.s3.amazonaws.com/images/h/linkedin-icon.png" alt="LinkedIn" /></a></li>
        <li class="unit size1of4"><a href="http://www.facebook.com/crissman" class="facebook" title="Facebook"><img src="http://ccrissman.s3.amazonaws.com/images/h/facebook-icon.png" alt="Facebook" /></a></li>
        <li class="unit size1of4"><a href="http://suda.co.uk/projects/X2V/get-vcard.php?uri=http://www.ccrissman.com/" class="vcard" title="Download vCard"><img src="http://ccrissman.s3.amazonaws.com/images/h/vcard-icon.png" alt="Download vCard" /></a></li>
      </ul>
    </section> <!-- end contact links -->

  </div>
</section>  <!-- end contact -->
