/* RESET ===========================================*/
html,body{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,em,img,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,button,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:normal;font-style:normal;font-size:100%;line-height:1;font-family:inherit;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio[controls],canvas,video{display:inline-block;}
.clearfix{zoom:1;}.clearfix:before,.clearfix:after{content:"\0020";display:block;height:0;overflow:hidden;}
.clearfix:after{clear:both;}

/* BASE STYLES ===========================================*/
html {
  overflow-y: scroll;
  background: #fafafa;
  font-size: 62.5%;
  height: 100%;
  -webkit-tap-highlight-color: #c3d9e6;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: 'museo-sans', 'helvetica neue', helvetica, arial, sans-serif;
  font-weight: 500;
  color: #222;
  color: rgba(0, 0, 0, .8);
  background-color: transparent;
}
img {
  max-width: 100%;
  border: 0;
}


/* HEADINGS -------------------------*/
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'museo-slab', rockwell,'rockwell std', Serifa, 'Serifa Std', Glypha, 'Glypha Std', Memphis, 'Memphis Std', 'helvetica neue', helvetica, arial, sans-serif;
  font-weight: 500;
}
h1, .h1 {
  margin-top: .66667em;
  margin-bottom: .66667em;
  font-size: 36px;
  font-size: 3.6rem;
  line-height: .66667;
}
h2, .h2 {
  margin-top: 0.85714286em;
  margin-bottom: 0.85714286em;
  font-size: 28px;
  font-size: 2.8rem;
  line-height: .85714286;
}
h3, .h3 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1;
}
h4, .h4 {
  margin-top: 1.33333em;
  margin-bottom: 1.33333em;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.33333;
}
h5, .h5 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 16px;
  font-size: 1.6rem;
}
h6, .h6 {
  font-size: 16px;
  font-size: 1.6rem;
}

/* TEXT ----------------------------*/
p, ol, ul, dl, address {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  line-height: 1.5;
}
p {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-character: "\2010";
  -webkit-hyphenate-limit-after: 1;
  -webkit-hyphenate-limit-before: 3;
}

blockquote {
  margin: 0 0 1.5em -24px;
  padding-left: 24px;
  border-left: 1px solid #bfbfbf;
  font-style: italic;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
b, strong {
  font-weight: 700;
}
hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #bfbfbf;
}
ins {
  background-color: #c3d9e6;
  color: #000000;
  text-decoration: none;
}
mark {
  background-color: #c3d9e6;
  color: #000000;
  font-style: italic;
  font-weight: 700;
}
pre,
code,
kbd,
samp {
  font-family: "Monaco", "Courier New", monospace;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.71428571;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before, q:after {
  content: "";
  content: none;
}
small {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.71428571;
}
sub, sup {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
::-webkit-selection {
  background: #55ABBB;
  color: #fafafa;
  text-shadow: none;
}
::-moz-selection {
  background: #55ABBB;
  color: #fafafa;
  text-shadow: none;
}
::selection {
  background: #55ABBB;
  color: #fafafa;
  text-shadow: none;
}

/* LISTS ----------------------------*/
ul, ol {
  margin: 0 0 1.5em -24px;
  padding: 0 0 0 24px;
  list-style-type: none;
}
li ul, li ol {
  margin: 0;
}
dl, dd {
  margin-bottom: 1.5em;
}
dt {
  font-weight: 700;
}

/* LINKS -------------------*/
a {
  padding: .2em .1em .1em;
  color: #55ABBB;
  text-decoration: none;
  display: inline-block;
  vertical-align: baseline;
  -moz-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}
a:hover {
  background: #1C6B7A;
  color: #9BD3DD;
}
a.img:hover {
  background: transparent;
}
a:focus {
  outline: thin dotted;
  color: #011b35;
}
a:hover, a:active {
  outline: 0;
}

/* TABLES ------------------------------*/
figure {
  margin-bottom: 1.5em;
}
figure img, figure object, figure embed {
  margin-bottom: 0.75em;
  max-width: 100%;
}
figcaption {
  display: block;
  font-weight: 500;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5em;
  width: 100%;
}
th, td, caption {
  padding: 0.1875em 10px 0.1875em 5px;
}
tfoot {
  font-style: italic;
}
caption {
  background-color: transparent;
}
tbody tr:nth-child(odd) td {
  background-color: #c3d9e6;
}

/* FORMS -------------------------*/
form {
  margin: 0;
}
fieldset {
  margin-bottom: 1.5em;
  padding: 0;
  border-width: 0;
}
legend {
  padding: 0;
  border-width: 0;
}
label {
  display: inline-block;
  font-weight: 700;
  line-height: 1.5;
  cursor: pointer;
}

button,
input,
select,
textarea {
  font-family: 'museo-sans', 'helvetica neue', helvetica, arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-size: 1.6rem;
  color: #404040;
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1em;
  vertical-align: baseline;
}
button, input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}
input[type="search"] {
  box-sizing: content-box;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
::-webkit-input-placeholder {
}
input:-moz-placeholder {
}

/* HELPER CLASSES ===========================================*/
.ir {
  display: block;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  text-indent: -999em;
  direction: ltr;
}
.hidden {
  display: none;
  visibility: hidden;
}
.invisible {
  visibility: hidden;
}
.visuallyhidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.focusable:active, .focusable:focus {
  position: static;
  margin: 0;
  height: auto;
  width: auto;
  overflow: visible;
  clip: auto;
}
.amp {
  font-family: 'museo-sans', 'helvetica neue', helvetica, arial, sans-serif;
  font-weight: 300;
  font-style: italic;
}

/* GRIDS ===========================================*/
.line:after, .lastUnit:after {
  visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.unit{float:left;}
.unitExt{float:right;}
.size1of1{float:none;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.lastUnit {float:none;width:auto;}
/* extending grids to allow a unit that takes the width of its content */
.media{width:auto;}


/* MAIN STYLES ===========================================*/

body {
  padding: 0 0 3em;
}
img {
  max-width: none;
}
.content {
  width: 90%;
  margin: 0 auto;
}
nav[role=navigation] {
  margin-bottom: 0;
  font-family: 'museo-slab', serif;
  font-weight: 500;
}
.nav-list {
  margin-top: .75em;
  margin-bottom: .75em;
  text-align: center;
}
nav[role=navigation] li {
  display: inline;
  margin-top: 1.14285714;
  margin-bottom: 1.14285714;
  font-size: 21px;
  font-size: 2.1rem;
  line-height: 1.14285714;
}
nav[role=navigation] a {
  color: #000;
}
nav[role=navigation] a:hover {
  background: #FFD371;
  color: #000;
}
.logo {
  text-align: center;
}
.logo a {
  font-weight: 900;
}
.logo a:hover {
  background: transparent;
  color: #55aabb;
}
#sample img {
  display: block;
  margin: 0 auto 1em;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .5), 0 4px 8px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .5), 0 4px 8px rgba(0, 0, 0, .3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5), 0 4px 8px rgba(0, 0, 0, .3);
}
.pagination {
  margin-top: 1.14285714em;
  margin-bottom: 1.14285714em;
  font-size: 21px;
  font-size: 2.1rem;
  line-height: 1.14285714;
  text-align: center;
}
.pagination a {
  padding: .57142855em 1em;
}

@media only screen and (min-width: 600px) {

 body {
   padding-top: 1.5em;
 }
 nav[role=navigation] {
  float: right;
 }
 .logo {
   text-align: left;
 }

}