<p>
  <strong>From:</strong>
  <br />
  <%= @message.name %>
</p>

<p>
  <strong>Email:</strong>
  <br />
  <%= @message.email %>
</p>

<p>
  <strong>Message:</strong>
  <br />
  <%= @message.content %>
</p>
